version: 2.1

orbs:
  aws-cli: circleci/aws-cli@5.0.0
  aws-ecr: circleci/aws-ecr@9.3.1
  codecov: codecov/codecov@4.1.0
  jira: circleci/jira@2.1.0
  slack: circleci/slack@4.13.3

jobs:
  test: # Also lints first
    docker:
      - image: thebiggive/php:dev-8.5
        auth:
          username: $DOCKER_HUB_USERNAME
          password: $DOCKER_HUB_ACCESS_TOKEN

    steps:
      - checkout

      - restore_cache:
          keys:
            - composer-v1-{{ checksum "composer.lock" }}

      - run: composer install --no-interaction

      - run: composer check-platform-reqs

      - save_cache:
          paths:
            - vendor
          key: composer-v1-{{ checksum "composer.lock" }}

      - run: composer run lint:check

      - run: composer run test

      - codecov/upload:
          file: 'coverage.xml'

workflows:
  build:
    jobs:
      - test:
          context:
            - docker-hub-creds
            - jira
            - slack
          post-steps:
            - jira/notify:
                pipeline_id: << pipeline.id >>
                pipeline_number: << pipeline.number >>
                job_type: build
                environment_type: development
            - slack/notify:
                event: fail
                template: basic_fail_1

  deploy-regression:
    jobs:
      - test:
          filters:
            branches:
              only:
                - develop
          context:
            - docker-hub-creds
            - jira
            - slack
      - aws-ecr/build_and_push_image:
          context:
            - ecs-deploys
            - jira
            - slack
          requires:
            - test
          account_id: ${AWS_ECR_REGISTRY_ID}
          region: 'us-east-1'
          repo: thebiggive-claimbot
          tag: 'regression,regression-${CIRCLE_SHA1}'
          auth:
            - aws-cli/setup:
                aws_access_key_id: AWS_ACCESS_KEY_ID
                aws_secret_access_key: AWS_SECRET_ACCESS_KEY
          post-steps:
            - slack/notify:
                event: fail
                template: basic_fail_1
            - jira/notify:
                pipeline_id: << pipeline.id >>
                pipeline_number: << pipeline.number >>
                job_type: deployment
            - slack/notify:
                custom: |
                  {
                    "blocks": [
                      {
                        "type": "section",
                        "fields": [
                          {
                            "type": "mrkdwn",
                            "text": "*Regression: ClaimBot next consumer run will use this code!*"
                          }
                        ]
                      }
                    ]
                  }

  deploy-staging:
    jobs:
      - test:
          filters:
            branches:
              only:
                - develop
          context:
            - docker-hub-creds
            - jira
            - slack
      - aws-ecr/build_and_push_image:
          context:
            - ecs-deploys
            - jira
            - slack
          requires:
            - test
          account_id: ${AWS_ECR_REGISTRY_ID}
          region: 'us-east-1'
          repo: thebiggive-claimbot
          tag: 'staging,staging-${CIRCLE_SHA1}'
          auth:
            - aws-cli/setup:
                aws_access_key_id: AWS_ACCESS_KEY_ID
                aws_secret_access_key: AWS_SECRET_ACCESS_KEY
          post-steps:
            - slack/notify:
                event: fail
                template: basic_fail_1
            - jira/notify:
                pipeline_id: << pipeline.id >>
                pipeline_number: << pipeline.number >>
                job_type: deployment
                environment: Staging
                environment_type: staging
            - slack/notify:
                custom: |
                  {
                    "blocks": [
                      {
                        "type": "section",
                        "fields": [
                          {
                            "type": "mrkdwn",
                            "text": "*Staging: ClaimBot next consumer run will use this code!*"
                          }
                        ]
                      }
                    ]
                  }

  deploy-production:
    jobs:
      - test:
          filters:
            branches:
              only:
                - main
          context:
            - docker-hub-creds
            - jira
            - slack
      - aws-ecr/build_and_push_image:
          context:
            - ecs-deploys
            - jira
            - slack
          requires:
            - test
          account_id: ${AWS_ECR_REGISTRY_ID}
          region: 'us-east-1'
          repo: thebiggive-claimbot
          tag: 'production,production-${CIRCLE_SHA1}'
          auth:
            - aws-cli/setup:
                aws_access_key_id: AWS_ACCESS_KEY_ID
                aws_secret_access_key: AWS_SECRET_ACCESS_KEY
          post-steps:
            - slack/notify:
                event: fail
                template: basic_fail_1
            - jira/notify:
                pipeline_id: << pipeline.id >>
                pipeline_number: << pipeline.number >>
                job_type: deployment
                environment: Production
                environment_type: production
            - slack/notify:
                custom: |
                  {
                    "blocks": [
                      {
                        "type": "section",
                        "fields": [
                          {
                            "type": "mrkdwn",
                            "text": "*Production: ClaimBot next consumer run will use this code!*"
                          }
                        ]
                      }
                    ]
                  }
